{% set display_search = false %}

<div class="row">
    <div class="col-md-6 col-s-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><a href="#" id="search_toggler">&#x1F50D; {{ locale['Search'] }}</a></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->


            <form id="search_form" role="form" action="/{{ model }}/" method="get" style="display:none">
                <div class="box-body">

                    {% for field in entity_searchable_fields %}

                        {% if '.' in field %}
                        {# it's a field from a referenced model #}
                            {% set field_info = field|split(".") %}
                            {% set model_metadata_values = entity_metadata[field_info[0]][field_info[1]] %}
                        {% else %}
                            {% set model_metadata_values = entity_metadata[model_name][field] %}
                        {% endif %}
                        {# field has been searched previously. Get its searched value #}
                        {% if search_fields[field] is iterable %}
                            {% set field_searched_value = search_fields[field].value %}
                        {% else %}
                            {% set field_searched_value = search_fields[field] %}
                        {% endif %}

                        {%  if field_searched_value != "" %}
                        {% set display_search = true %}
                        {% endif %}

                        {%  set printed = false %}


                        <div class="form-group">

                            <label for="search_fields[{{ field }}]">{{ field|replace({'.': ' ', '_': " "}) }}</label>

                            {% if 'timestamp' in field_metadata.Type %}
                                {% set printed = true %}
                                <input  type="text" class="datepicker form-control" placeholder="YYYY-MM-DD" name="search_fields[{{ field }}]" value="{{ field_searched_value }}">
                            {% endif %}

                            {#field possible values is defined on its model metadata #}
                            {% if model_metadata_values is not null %}
                                {% set printed = true %}
                                <input type="hidden" name="search_fields[{{ field }}][operand]" value="=" />
                                <select name="search_fields[{{ field }}][value]" class="form-control">
                                    <option></option>
                                    {% for key, value in model_metadata_values['by_id'] %}
                                        <option value="{{ key }}" {% if field_searched_value is same as(key|number_format) %}selected{%endif%}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}

                            {% if not printed %}
                                <input type="text" class="form-control" id="search_fields[{{ field }}]" name="search_fields[{{ field }}][value]" value="{{ field_searched_value }}">
                                {% if 'varchar' in field_metadata.Type %}
                                    <input type="hidden" name="search_fields[{{ field }}][operand]" value="LIKE">
                                {% endif %}
                            {% endif %}
                            <a href="#" style="text-decoration: none" onclick="deleteInputValue(this);">[ Clear ]</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">{{ locale['Search'] }}</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        function deleteInputValue(deletor)
        {
            $(deletor).siblings('input').val('');
        }

        $('#search_toggler').on('click', function() {
            $('#search_form').toggle();
        })

        {% if display_search == true %}
            $('#search_toggler').trigger('click');
        {% endif %}

    </script>
{% endblock %}
