{% if paginator is defined and paginator.pages is defined %}

    <ul class="pagination pagination-sm no-margin">

    {% if paginator.first %}
        <li><a href="{{ paginator.first }}">&laquo;&laquo;</a></li>
    {% endif %}

    {% if paginator.previous %}
        <li><a href="{{ paginator.previous }}">&laquo;</a></li>
    {% endif %}

     {% for page_num, page_link in paginator.pages %}
        <li>

            {% if page_num == paginator.current_page %}
                {% set page_link = '#' %}
                {% set class = 'active' %}
            {% else %}
                {% set class = '' %}
            {% endif %}
            <a href="{{ page_link }}" class="{{ class }}">
            {% if paginator.mode == 'results' %}
                {{ max( (page_num - 1)  * items_per_page, 1) }}-{{ min(page_num  * items_per_page, total_items)}}
            {% else %}
                {{ page_num }}
            {% endif %}
            </a>
        </li>
    {% endfor %}

    {% if paginator.next %}
        <li><a href="{{ paginator.next }}">&raquo;</a></li>
    {% endif %}

    {% if paginator.last %}
        <li><a href="{{ paginator.last }}">&raquo;&raquo;</a></li>
    {% endif %}

    </ul>
</div>
{% endif %}

<style>
    .pagination .active {
        background-color: #0fd3d7;
    }
</style>