{%  set entity = entities_list[entity]%}

{% if entity['fields']['in_detail']|length > 0 %}
    {% set entity_viewable_fields = entity['fields']['in_detail'] %}
{% else %}
    {% set entity_viewable_fields = data|keys %}
{% endif %}

{% if entity['fields']['fillable']|length > 0 %}
    {% set entity_fillable_fields = entity['fields']['fillable'] %}
{% else %}
    {% set entity_fillable_fields = null %}
{% endif %}

{% if entity['fields']['fields_schema']|length > 0 %}
    {% set entity_fields_schema = entity['fields']['fields_schema'] %}
{% else %}
    {% set entity_fields_schema = null %}
{% endif %}


<div class="box box-primary">
    {% if entity_detail_actions is defined %}
        {{ entity_detail_actions|raw }}
    {% endif %}

    <div class="box-header with-border">
        <h3 class="box-title">Contenido</h3>
    </div>

    <form id="detail_submit" action="{{ form_action }}" method="post" enctype="multipart/form-data" role="form">

        {% if GET is not null and GET.creation_vars is defined and GET.creation_vars is iterable %}
            {% for key, value in GET.creation_vars %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}
        {% endif %}

        <div class="box-body">

        {% for field in entity_viewable_fields %}

            {% if field != 'references' and not field|contains("_tag.") %}
            <div class="form-group" style="z-index:99999">

                {% if entity_fields_schema is not null and entity_fields_schema[field] is defined  %}
                    {# field has specific settings #}
                    {% set field_info = entity_fields_schema[field] %}
                {% else %}
                    {% set field_info = null %}
                {% endif %}


                {% if field_info.tooltip is defined %}
                    {# display a tooltip #}
                    <span title="{{ field_info.tooltip }}" style="cursor: default; font-size: 1.5em; color: royalblue">&#9432;</span>
                {% endif %}

                {#display field name #}
                <label for="{{ field }}">
                    {% set entity_field = entity_name ~ '.' ~ field %}
                    {% if entity_fields_schema[field].nice_name is defined %}
                        {{ entity_fields_schema[field].nice_name }}
                    {% else %}
                        {{ field|replace({'.': ' ', '_': " "}) }}
                    {% endif %}
                </label>

                {% if entity.schema.multilanguage_fields is defined and field in entity.schema.multilanguage_fields %}

                    {% for language in config.backoffice.languages %}
                        <div style="margin-left: 20px">
                            <b>{{ language|upper }}</b><br>
                            {% include 'twig_partials/detail/form_element.twig' with {
                                                'language': language,
                                                'language_array': '[' ~ language ~ ']',
                                                'data': data,
                                                'config': config,
                                                'entity_name': entity_name,
                                                'entities_list': entities_list,
                                                'entities_metadata': entities_metadata,
                                                'field': field,
                                                'field_info': field_info,
                                                'referenced_entities_contents': referenced_entities_contents,
                                                'theme_style_sheet': theme_style_sheet,
                                                'theme_blocks_json': theme_blocks_json
                                        }
                            %}
                        </div>


                    {% endfor %}

                {% else %}
                    {% include 'twig_partials/detail/form_element.twig' with {
                    'language': '',
                    'language_array': '',
                    'data': data,
                    'config': config,
                    'entity_name': entity_name,
                    'entities_list': entities_list,
                    'entities_metadata': entities_metadata,
                    'field': field,
                    'field_info': field_info,
                    'referenced_entities_contents': referenced_entities_contents,
                    'theme_style_sheet': theme_style_sheet,
                    'theme_blocks_json': theme_blocks_json
                    }
                    %}

                </div>
                {% endif %}

            {% endif %}

        {% endfor %}
        </div>

        {% if referenced_entities_contents[entity_name ~ "_tag"] is defined %}
            {% set item_tags = [] %}
            {% if data['references'][entity_name ~ "_tag"] is defined and data['references'][entity_name ~ "_tag"].total_items is not defined %}
                {% set item_tags = data['references'][entity_name ~ "_tag"] %}
            {% endif %}
            <div class="box-body">
            {% include 'twig_partials/detail/tags.twig' with {
                'entity_name': entity_name,
                'item_tags': item_tags,
                'all_tags': referenced_entities_contents[entity_name ~ "_tag"]
            }
            %}
            </div>
        {% endif %}

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">{{ locale['Save'] }}</button>
        </div>

    </form>
</div>